.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #181c23;
    color: #fffbf0;
}

h1 {
    margin: 0;
}